<div class="container-fluid">
  <div class="row setBackgroundStyle">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1">
        <img src="../assets/images/University_logo.svg" alt="Logo" class="logoImg">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="pindicator">
          <div class="bullet past">
            <span class="icon"></span>
            <div class="text">SIGN UP</div>
          </div>
          <div class="bullet current">
            <span class="icon"></span>
            <div class="text">PROGRAMS</div>
          </div>
          <div class="bullet next future">
            <span class="icon"></span>
            <div class="text">COURSES</div>
          </div>
          <div class="bullet future">
            <span class="icon"></span>
            <div class="text">FINISH</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 setLineHeight">
        Step 1 of 4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-6 text-center mainBodyStyle">
      <h1>It's great to meet you.</h1>
      <p>Before you dive in, let's get the rest of your account details in order</p>
      <div class="row setInputHeight setInputStyle">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left setFormStyle">
          <span>First name <sup>*</sup></span>
          <input type="text" class="form-control">
        </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left setFormStyle">
          <span>Last name <sup>*</sup></span>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-left setFormStyle">
        <span>Password <sup>*</sup> </span>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-left setFormStyle">
          <ul>
            <li>Atleast 8 characters long</li>
            <li>One lowercase character</li>
            <li>One uppercase character</li>
            <li>One number, symbol or whitespace character</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row setButtonStyle">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right">
      <button class="btn btn-lg btn-block btnCustomize"  [routerLink]="['/job']"> Continue</button>
    </div>
  </div>
</div>
