<div id="main-container" style="width: 100%;">
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="brand-img" src="../../../assets/images/brand.png">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search">
              <div class="form-group">
                <input type="text" class="form-control search" placeholder="Search for posts, members, courses...">
              </div>
              <button type="submit" class="btn btn-default btn-search">All <i class="glyphicon glyphicon-chevron-down"></i></button>
            </form>
            <ul class="nav hidden-md hidden-sm navbar-nav navbar-right">
              <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/plus.png"></a></li>
              <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/mail.png"></a></li>
              <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/notif.png"></a></li>
              <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/menu.png"></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="navbar-profile-img img-circle" src="../../../assets/images/profile.jpg"></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container content-container">
        <div class="row">
        <!-- left panel -->
        <div class="col-md-3">
            <div class="container-fluid hidden-sm hidden-xs">
                <h6 class="leftpanel-heading">Homepage</h6>
                <button class="btn btn-block btn-leftpanel active"><i class="img-circle glyphicon glyphicon-home"></i> Newsfeed</button>
                <h6 class="leftpanel-heading">College</h6>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/profile.jpg"> Manipal University</button>
                <h6 class="leftpanel-heading">Jobs on progress</h6>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/2.jpeg"> Video Editor</button>
                <h6 class="leftpanel-heading">Subjects</h6>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/3.jpeg"> Business Management</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/4.jpeg"> Marketing Management</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/2.jpeg"> Investment Banking</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/6.jpeg"> Accountancy</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/7.jpeg"> Human Resource</button>

                <h6 class="leftpanel-heading">Online subjects</h6>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/8.jpeg"> Entrepreneurship Basics</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/profile.jpg"> Leadership Body Language</button>
                <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/6.jpeg"> Human Resource</button>
            </div>
        </div>

        <!-- center newsfeed -->
        <div class="col-md-6 searchMain">
            <md-tab-group>
			  <md-tab label="Post">
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>A Starter Guide To Self Improvement</span><br>
			    		<span>Video,30k views</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<img src="../../../assets/images/rss.jpg" alt="" class="img contentImage">
			    	</div>
			    </div>
			    
			  </md-tab>
			  <md-tab label="Members">
			    
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Smith Kalye</span><br>
			    		<span>Standford USA</span><br>
			    		<span>Level 16, Top Skill: PHP</span>
			    	</div>
			    	
			    </div>
			  </md-tab>
			  <md-tab label="Colleges">
			    
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Amity University</span><br>
			    		<span>Noida, India</span><br>
			    		<span>250k followers, 30 members</span>
			    	</div>
			    	
			    </div>
			  </md-tab>
			  <md-tab label="Courses">
			    
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Microsoft Patch Management for home user</span><br>
			    		<span>15 Video | 08 Test</span>
			    	</div>
			    	
			    </div>
			  </md-tab>
			  <md-tab label="Jobs">
			    
			    <div class="row setRowStyle">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 setMiddleText setMarginTop">
			    		<span>Need an Javascript Developer</span><br>
			    		<span>Skills required: Javascript, AngukarJs, Bootstrap</span>
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			    		<span class="amount">600k </span><br>
			    		<span class="setGrey">per hour</span>
			    		<span class="badge">fulltime</span>
			    	</div>
			    </div>
			  </md-tab>
			  <md-tab label="Companies">
			    
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			    <div class="row setRowStyle setMarginTop">
			    	<div class="col-xs-12 col-sm-12 col-lg-1 col-md-2">
			    		<img class="profileIcon img-circle img" src="../../../assets/images/7.jpeg">
			    	</div>
			    	<div class="col-xs-12 col-sm-12 col-lg-11 col-md-10 setMiddleText ">
			    		<span>Rockstart</span><br>
			    		<span>15 Job Openings | 08 Jobs on progress</span>
			    	</div>			    	
			    </div>
			  </md-tab>
			</md-tab-group>
        </div>

        <!-- right panel -->
        <div class="col-md-3">
            <div class="panel panel-default panel-rightpanel hidden-sm hidden-xs">
              <div class="panel-heading">My profile status</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                      <img class="img-circle profile-img" src="../../../assets/images/profile.jpg">
                    </div>
                    <div class="col-xs-8">
                      <h5 class="profile-name">Shawaz Sharif</h5>
                      <h6 class="profile-desc"><span class="text-muted">My Level:</span> 43</h6>
                      <h6 class="profile-desc"><span class="text-muted">My Top Skills:</span> Javascript</h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-rightpanel hidden-sm hidden-xs">
              <div class="panel-heading">Suggestions for you</div>
              <div class="panel-body">
                  <ul class="suggestions-list">
                    <li class="suggestion">
                        <div class="row">
                            <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="../../../assets/images/2.jpeg" class="img-circle profile-img pull-left">
                                </div>
                                <div class="col-xs-8">
                                    <h6 class="suggestion-name">Greg Dublacz</h6>
                                    <h6 class="suggestion-desc text-muted hidden-sm hidden-xs hidden-md">Stanford University</h6>
                                </div>
                            </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-add-suggestion"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="suggestion">
                        <div class="row">
                            <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="../../../assets/images/6.jpeg" class="img-circle profile-img pull-left">
                                </div>
                                <div class="col-xs-8">
                                    <h6 class="suggestion-name">Tony Scott</h6>
                                    <h6 class="suggestion-desc text-muted hidden-sm hidden-xs hidden-md">IIM - Bangalore</h6>
                                </div>
                            </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-add-suggestion"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="suggestion">
                        <div class="row">
                            <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="../../../assets/images/7.jpeg" class="img-circle profile-img pull-left">
                                </div>
                                <div class="col-xs-8">
                                    <h6 class="suggestion-name">Dr. Zoe Keating</h6>
                                    <h6 class="suggestion-desc text-muted hidden-sm hidden-xs hidden-md">Delhi University</h6>
                                </div>
                            </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-add-suggestion"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="suggestion">
                        <div class="row">
                            <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="../../../assets/images/8.jpeg" class="img-circle profile-img pull-left">
                                </div>
                                <div class="col-xs-8">
                                    <h6 class="suggestion-name">Chris Messina</h6>
                                    <h6 class="suggestion-desc text-muted hidden-sm hidden-xs hidden-md">Christ University</h6>
                                </div>
                            </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-add-suggestion"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                    </li>
                  </ul>
                  <button class="btn btn-block btn-more">
                    <h6 class="text-muted">See all</h6>
                  </button>
              </div>
            </div>
            <div class="panel panel-default panel-rightpanel">
              <div class="panel-heading">Trending</div>
              <div class="panel-body">
                  <ul class="trending-list list-group">
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#instagram</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">1,008,578 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#children</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">9,146,234 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#sillhouette</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">889,110 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#style</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">678,324 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#deutschland</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">99,537 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#yosemite</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">11,382 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#paysage</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">10,811 posts</h6>
                        </div>
                    </div>
                    </li>
                    <li class="trend list-group-item">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../../../assets/images/trend.png">
                        </div>
                        <div class="col-xs-9">
                            <h6 class="trend-name">#macromondays</h6>
                            <h6 class="trend-desc text-muted hidden-sm hidden-xs hidden-md">5,001 posts</h6>
                        </div>
                    </div>
                    </li>
                  </ul>
                  <button class="btn btn-block btn-more">
                    <h6 class="text-muted">See all</h6>
                  </button>
              </div>
            </div>
        </div>
        </div>
    </div>

</div>
