<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row setInputHeight">
          <div class="col-md-4 text-center border" >
            <img src="../../../assets/images/attach.png" alt="file">
            <p class="postMenuStyle">File</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../assets/images/Layer_1.png" alt="file" class="projectIcon">
            <p class="postMenuStyle">Project</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../assets/images/calendar.png" alt="file">
            <p class="postMenuStyle">Event</p>
          </div>
        </div>
        <div class="row setInputHeight">
          <div class="col-md-4 text-center">
            <img src="../../../assets/images/newspaper.png" alt="file">
            <p class="postMenuStyle">News</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../assets/images/homework.png" alt="file" class="projectIcon">
            <p class="postMenuStyle">Assignmnet</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../assets/images/grades.png" alt="file" class="projectIcon">
            <p class="postMenuStyle">Report</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
