.postMenuStyle {
  font-size: 25px;
  font-weight: 600;
  color: #505050;
}

.setInputHeight {
  margin-top: 50px;
}

.border {
  border-right: 1px solid #EEEEEE;
}

.modal-body {
  background: #fff;
}
.horizontalStyle{
  
}
