<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row borderBottom">
          <div class="col-md-1 col-lg-1">
            <span class="timeStyle">18m</span>
          </div>
          <div class="col-md-2 col-lg-2 ">
            <img src="../../../assets/images/imageCircle.png" alt="profile" class="img  img-circle setProfileLogo">
          </div>
          <div class="col-md-7 col-lg-7">
            <span class="nameUser">awesome_earthpix</span>
            <p class="fontStyle redColor">liked your photo</p>
          </div>
          <div class="col-md-1 col-lg-1">
            <img src="../../../assets/images/girl_university.png" alt="profile" class="img  setLogoStyle">
          </div>
        </div>
        <div class="row borderBottom">
          <div class="col-md-1 col-lg-1">
            <span class="timeStyle">23m</span>
          </div>
          <div class="col-md-2 col-lg-2 ">
            <img src="../../../assets/images/imageCircle.png" alt="profile" class="img  img-circle setProfileLogo">
          </div>
          <div class="col-md-7 col-lg-7">
            <span class="nameUser">awesome_earthpix</span>
            <p class="fontStyle redColor">started following you</p>
          </div>
          <div class="col-md-1 col-lg-1">
            <img src="../../../assets/images/girl_university.png" alt="profile" class="img  setLogoStyle">
          </div>
        </div>
        <div class="row borderBottom">
          <div class="col-md-1 col-lg-1">
            <span class="timeStyle">18m</span>
          </div>
          <div class="col-md-2 col-lg-2 ">
            <img src="../../../assets/images/imageCircle.png" alt="profile" class="img  img-circle setProfileLogo">
          </div>
          <div class="col-md-7 col-lg-7">
            <span class="nameUser">awesome_earthpix</span>
            <p class="fontStyle redColor">liked your photo</p>
          </div>
          <div class="col-md-1 col-lg-1">
            <img src="../../../assets/images/girl_university.png" alt="profile" class="img  setLogoStyle">
          </div>
        </div>
        <div class="row borderBottom">
          <div class="col-md-1 col-lg-1">
            <span class="timeStyle">23m</span>
          </div>
          <div class="col-md-2 col-lg-2 ">
            <div class="item">
              <span class="notify-badge fa fa-check"></span>
            <img src="../../../assets/images/imageCircle.png" alt="profile" class="img  img-circle setProfileLogo">
            </div>
            
          </div>
          <div class="col-md-7 col-lg-7">
            <span class="nameUser">awesome_earthpix</span>
            <p class="fontStyle setGrey">started following you</p>
          </div>
          <div class="col-md-1 col-lg-1">
            <img src="../../../assets/images/girl_university.png" alt="profile" class="img  setLogoStyle">
          </div>
        </div>
      </div>
    </div>
  </div>
