<div class="sidebar" data-color="white">
  <div class="sidebar-wrapper">
    <p class="setIconHeadStyle">SUPER ADMIN MENU</p>
    <ul class="nav">
      <li class="active">
        <a href="#">
          <i class="dashboard_icn"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/enterReport']">
                    <i class="management_icn"></i>
                    <p>Management</p>
                </a>
      </li>
      <li>
        <a [routerLink]="['/university/list']">
                    <i class="university_icn"></i>
                    <p>University</p>
                </a>
      </li>
      <li>
        <a [routerLink]="['/post/list']">
                    <i class="post_icn"></i>
                    <p>Post</p>
                </a>
      </li>
      <li>
        <a>
                    <i class="billing_icn"></i>
                    <p>Billing</p>
                </a>
      </li>
    </ul>




    <div class="container-fluid hidden-sm hidden-xs">
          
          <h6 class=" setIconHeadStyle">Super Admin</h6>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/8.jpeg"> Julia Arnold</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/profile.jpg"> Dave</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/6.jpeg"> Eco</button>
        </div>
  </div>
</div>
