<div class="sidebar" data-color="white">
  <div class="sidebar-wrapper">
    <p class="setIconHeadStyle">SUPER ADMIN MENU</p>
    <ul class="nav">
      <li class="active">
        <a href="#">
          <i class="dashboard_icn"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/enterReport']">
                    <i class="management_icn"></i>
                    <p>Management</p>
                </a>
      </li>
      <li>
        <a  [routerLink]="['/university/list']">
                    <i class="university_icn"></i>
                    <p>University</p>
                </a>
      </li>
      <li>
        <a  [routerLink]="['/post/list']">
                    <i class="post_icn"></i>
                    <p>Post</p>
                </a>
      </li>
      <li>
        <a >
                    <i class="billing_icn"></i>
                    <p>Billing</p>
                </a>
      </li>

    </ul>
  </div>
</div>
