<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="col-xs-1">
              <span class="circle"></span>
            </div>
            <div class="col-xs-7">
              <span class="chatName">Gaurav Rao</span>
            </div>
            <div class="col-xs-1 addChatMembers">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="col-xs-1 addChatMembers">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="col-xs-1 addChatMembers">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </h3>
        </div>
        <div class="panel-body frame">
          <ul>
            <li class="setMarginTop">
              <div class="col-xs-2">
                <img class="img-circle" style="width:100%;" src="../../../assets/images/4.jpeg" />
              </div>
              <div class="col-xs-9 ">
                <span class="setSenderBackground">Hello, How are you?</span>
              </div>
            </li>
            <li class="setMarginTop">
              <p class="dayStyle">Fri 11:30 AM</p>
            </li>
            <li class="setMarginTop">
              <div class="col-xs-2">
                <img class="img-circle" style="width:100%;" src="../../../assets/images/4.jpeg" />
              </div>
              <div class="col-xs-9 ">
                <span class="setSenderBackground">Are you still around?</span>
              </div>
            </li>
            <li class="setMarginTop">
              <div class="col-xs-9 text-right">
                <span class="setRecieverBackground">Hello, Was Busy Around?</span>
              </div>
              <div class="col-xs-2">
                <img class="img-circle" style="width:100%;" src="../../../assets/images/6.jpeg" />
              </div>
            </li>
            <li class="setMarginTop">
              <div class="col-xs-9 text-right">
                <span class="setRecieverBackgroundSecond"> How are you?</span>
              </div>
              <div class="col-xs-2">
                <img class="img-circle" style="width:100%;" src="../../../assets/images/6.jpeg" />
              </div>
            </li>
            <li class="setMarginTop">
              <div class="col-xs-2">
                <img class="img-circle" style="width:100%;" src="../../../assets/images/4.jpeg" />
              </div>
              <div class="col-xs-9 ">
                <span class="setSenderBackground">Are you still around?</span>
              </div>
            </li>
          </ul>
          <div class="row textWrite">
            <div class="col-xs-12">
              <input class="mytext" placeholder="Type a message" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
