<div class="container-fluid setBckgrnd">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-6 setWhiteBckgrnd">
      <div class="row setCompanyHeaderStyle">
        <div class="col-xs-4 col-sm-4 col-lg-1 col-md-2 ">
          <img src="../../../assets/images/rockstart.png" alt="logo">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-9 col-lg-10">
          <span class="companyName">Rockstar Games INC.</span>
          <br>
          <span class="companyLoc">New York, United States</span>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 closeStyle" [routerLink]="['/university/list']">X</div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12">
          <span class="badge">fulltime</span>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12">
          <h1>Need a full stack Javascript developer</h1>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <span class="locationInner">Location</span>
          <br>
          <span class="companyLoc">New York, United Nation</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <span class="locationInner">600 k</span>
          <br>
          <span class="companyLoc">per annum</span>
        </div>
      </div>
      <div class="row setInputHeightStyle">
        <div class="col-xs-12 setMarginTop">
          <span class="sideHead">Skills required</span>
        </div>
      </div>
      <div class="row setMarginTop">
        <div class="col-xs-8 setSideContent">HTML</div>
        <div class="col-xs-4">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 setSideContent">CSS</div>
        <div class="col-xs-4">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 setSideContent">JAVASCRIPT</div>
        <div class="col-xs-4">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 setSideContent">ANGULAR JS</div>
        <div class="col-xs-4">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
        </div>
      </div>
      <div class="row setInputHeightStyle">
        <div class="col-xs-12 setMarginTop">
          <span class="sideHead">Requirements</span>
        </div>
      </div>
      <div class="row setMarginTop">
        <ul>
          <li>+3 years of experience</li>
          <li>A strong interest in the development of an advanced and constanly evolving product</li>
          <li>Good knowledge of Postgre Sql or relational database</li>
          <li>Knowledge of Rspec,Redis and Elasticsearch</li>
        </ul>
      </div>
      <div class="row setInputHeightStyle">
        <div class="col-xs-12 setMarginTop">
          <span class="sideHead">Benefits</span>
        </div>
      </div>
      <div class="row setMarginTop">
        <ul>
          <li>Work in one of the fast growing Saas startups in Poland</li>
          <li>Good knowledge of Postgre Sql or relational database</li>
          <li>Private Medical Care</li>
          <li>Knowledge of Rspec,Redis and Elasticsearch</li>
        </ul>
      </div>
      <div class="row setInputHeightStyle">
        <div class="col-md-offset-6 col-xs-12 col-sm-12 col-md-3 col-lg-3 setMarginTop">
          <button class="btn btn-lg btn-block btn-default" [routerLink]="['/notify']">Cancel</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 setMarginTop">
          <button class="btn btn-lg btn-block btn-primary" [routerLink]="['/members']">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
