<div class="container-fluid">
  <div class="row">
    <div class="hidden-sm hidden-xs col-md-4 col-lg-4 otpImage">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 setOtpStyle">
          <p>Please enter the OTP code sent as message to your phone:</p>
          <p>+91 9876543210</p>
          <span>No Code ? <a href="#"> Resend OTP</a></span>
        </div>
      </div>
      <div class="row setOtpInputStyle">
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <input type="text" class="form-control otpSqaure" maxlength="1">
        </div>
      </div>
      <div class="row setInputHeight">
      	<div class="col-xs-12 col-sm-12 col-md-offset-7 col-md-3 col-lg-4 ">
      		<button class="btn btn-block btn-lg btnCustomize" [routerLink]="['/contact']"> Confirm-></button>
      	</div>
      </div>
    </div>
  </div>
</div>
