<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <span class="col-md-offset-1">Manage Subjects</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <span>ENGINEERING</span>
      <ul>
        <li>
          B.Tech - Aeronotical Engineering
        </li>
        <li>B.Tech - Automobile Engineering</li>
        <li>B.Tech - Biomedical Engineering</li>
        <li>B.Tech - Biotechnology</li>
        <li>B.Tech - Chemical Engineering</li>
        <li>B.Tech - Civil Engineering</li>
        <li>B.Tech - Computer and Comm.Engineering</li>
        <li>B.Tech - Computer Science and Engineering</li>
        <li>B.Tech - Electrical and Electronics Engineering</li>
        <li>B.Tech - Industrial & Control Engineering</li>
        <li>B.Tech - Information Technology</li>
        <li>B.Tech - Instrumenatation and Control Engineering</li>
        <li>B.Tech - Lateral Entry</li>
        <li>B.Tech - Mechanical Engineering</li>
        <li>B.Tech - Mechatronics Engineering</li>
        <li>B.Tech - Print and Media Technology</li>
      </ul>
      <span>	MANAGEMENT</span>
     <ul>
     	<li>B.Com (Business Process Service)</li>
     	<li>B.Com Professional (Regular & Evening)</li>
     	<li>BBA - Bachelor of Business Administartion</li>
     </ul>
     <span>ARCHITECTURE</span>
     <ul>
     	<li>Bachelor of Architecture</li>
     	<li>Bachelor of Deisgn (Fashion Design)</li>
     	<li>Bachelor of Design (Interior Design)</li>
     </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <span>B.Tech Aeronotical Engineering</span>
    
    </div>
  </div>
</div>
