<div class="container-fluid setBackgroundGrey">
  <div class="row setMarginTop">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <md-tab-group>
        <md-tab label="College">
          <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead class="">
              <tr>
                <th colspan="6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                        <span class="titleStyle">College Registered</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <button md-raised-button>+ Add College</button>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <input type="text" class="form-control" name="search" value="" placeholder="Search">
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <!-- End of First Row with Filter and Date Picker -->
              <tr>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  
                </th>
                <th class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left ">
                  <mfDefaultSorter by="college"><span class="innerHeadStyle">COLLEGE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="programs"><span class="innerHeadStyle">PROGRAMS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="courses"><span class="innerHeadStyle">COURSES</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">MEMBERS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">EDIT</span></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="setLoopFontStyle" *ngIf="mf.data.length>0; else message">
              <tr *ngFor="let item of mf.data; let idx = index" class="setBorderBottom">
                <td class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 check-item1">
                    <input type="checkbox" id="mainSelect" name="University select" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <label for="mainSelect"></label>
                  </div>
                </td>
                <td class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left setCollegeStyle">{{item.college}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.programs}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.courses}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.members}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setCollegeStyle">
                  <i class="fa fa-wrench"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="mf.data.length>0">
              <tr>
                <th colspan="6">
                  <div class="row setCollegeStyle">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-lg-offset-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 text-right">
                        <span class="recordPerPage">Rows per page</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <select class="form-control setCollegeStyle" name="recordsPerPage" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                        </select>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 setCollegeStyle">
                        <span>{{ (mf.activePage - 1) * mf.rowsOnPage  + 1 }} - {{mf.data.length+mf.rowsOnPage*(mf.activePage-1)}} of {{data_length}}</span>
                      </div>
                    </div>
                  </div>
              </tr>
            </tfoot>
            <ng-template #message>
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">
                    No details Found
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </md-tab>
        <md-tab label="Programes">
          <table class="table" [mfData]="programDataSet" #programData="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead class="">
              <tr>
                <th colspan="6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                        <span class="titleStyle">College Registered</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <button md-raised-button>+ Add Programs</button>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <input type="text" class="form-control" name="search" value="" placeholder="Search">
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <!-- End of First Row with Filter and Date Picker -->
              <tr>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  
                </th>
                <th class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left ">
                  <mfDefaultSorter by="college"><span class="innerHeadStyle">COLLEGE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="programs"><span class="innerHeadStyle">PROGRAMS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="courses"><span class="innerHeadStyle">COURSES</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">MEMBERS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">EDIT</span></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="setLoopFontStyle" *ngIf="programData.data.length>0; else messageData">
              <tr *ngFor="let item of programData.data; let idx = index" class="setBorderBottom">
                <td class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 check-item1">
                    <input type="checkbox" id="mainSelect" name="University select" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <label for="mainSelect"></label>
                  </div> -->
                </td>
                <td class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left setCollegeStyle">{{item.college}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.programs}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.courses}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.members}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setCollegeStyle">
                  <i class="fa fa-wrench"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="programData.data.length>0">
              <tr>
                <th colspan="6">
                  <div class="row setCollegeStyle">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-lg-offset-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 text-right">
                        <span class="recordPerPage">Rows per page</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <select class="form-control setCollegeStyle" name="recordsPerPage" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                        </select>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 setCollegeStyle">
                        <span>{{ (programData.activePage - 1) * programData.rowsOnPage  + 1 }} - {{programData.data.length+programData.rowsOnPage*(programData.activePage-1)}} of {{data_length}}</span>
                      </div>
                    </div>
                  </div>
              </tr>
            </tfoot>
            <ng-template #messageData>
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">
                    No details Found
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </md-tab>
        <md-tab label="Courses">
          <table class="table" [mfData]="courseDataSet" #courseData="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead class="">
              <tr>
                <th colspan="6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                        <span class="titleStyle">College Registered</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <button md-raised-button>+ Add Course</button>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <input type="text" class="form-control" name="search" value="" placeholder="Search">
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <!-- End of First Row with Filter and Date Picker -->
              <tr>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  
                </th>
                <th class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left ">
                  <mfDefaultSorter by="college"><span class="innerHeadStyle">COLLEGE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="programs"><span class="innerHeadStyle">PROGRAMS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="courses"><span class="innerHeadStyle">COURSES</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">MEMBERS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">EDIT</span></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="setLoopFontStyle" *ngIf="courseData.data.length>0; else messageData">
              <tr *ngFor="let item of courseData.data; let idx = index" class="setBorderBottom">
                <td class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 check-item1">
                    <input type="checkbox" id="mainSelect" name="University select" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <label for="mainSelect"></label>
                  </div> -->
                </td>
                <td class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left setCollegeStyle">{{item.college}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.programs}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.courses}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.members}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setCollegeStyle">
                  <i class="fa fa-wrench"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="courseData.data.length>0">
              <tr>
                <th colspan="6">
                  <div class="row setCollegeStyle">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-lg-offset-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 text-right">
                        <span class="recordPerPage">Rows per page</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <select class="form-control setCollegeStyle" name="recordsPerPage" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                        </select>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 setCollegeStyle">
                        <span>{{ (courseData.activePage - 1) * courseData.rowsOnPage  + 1 }} - {{courseData.data.length+courseData.rowsOnPage*(courseData.activePage-1)}} of {{data_length}}</span>
                      </div>
                    </div>
                  </div>
              </tr>
            </tfoot>
            <ng-template #messageData>
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">
                    No details Found
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </md-tab>
        <md-tab label="Members">
          <table class="table" [mfData]="membersDataSet" #memberData="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead class="">
              <tr>
                <th colspan="6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                        <span class="titleStyle">Admin Members</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <button md-raised-button>+ Add Members</button>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                        <input type="text" class="form-control" name="search" value="" placeholder="Search">
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <!-- End of First Row with Filter and Date Picker -->
              <tr>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  
                </th>
                <th class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left ">
                  <mfDefaultSorter by="college"><span class="innerHeadStyle">COLLEGE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="programs"><span class="innerHeadStyle">PROGRAMS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="courses"><span class="innerHeadStyle">PHONE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">E-Mail</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">EDIT</span></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="setLoopFontStyle" *ngIf="memberData.data.length>0; else messageData">
              <tr *ngFor="let item of memberData.data; let idx = index" class="setBorderBottom">
                <td class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 check-item1">
                    <input type="checkbox" id="mainSelect" name="University select" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <label for="mainSelect"></label>
                  </div> -->
                </td>
                <td class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left setCollegeStyle">{{item.college}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.programs}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.courses}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.members}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setCollegeStyle">
                  <i class="fa fa-wrench"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="memberData.data.length>0">
              <tr>
                <th colspan="6">
                  <div class="row setCollegeStyle">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-lg-offset-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 text-right">
                        <span class="recordPerPage">Rows per page</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <select class="form-control setCollegeStyle" name="recordsPerPage" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                        </select>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 setCollegeStyle">
                        <span>{{ (memberData.activePage - 1) * memberData.rowsOnPage  + 1 }} - {{memberData.data.length+memberData.rowsOnPage*(memberData.activePage-1)}} of {{data_length}}</span>
                      </div>
                    </div>
                  </div>
              </tr>
            </tfoot>
            <ng-template #messageData>
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">
                    No details Found
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </md-tab>
        <md-tab label="Member Roles">
           <table class="table" [mfData]="roleDataSet" #roleData="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead class="">
              <tr>
                <th colspan="6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                        <span class="titleStyle">Members Role Setting</span>
                      </div>
                      
                    </div>
                  </div>
                </th>
              </tr>
              <!-- End of First Row with Filter and Date Picker -->
              <tr>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  
                </th>
                <th class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left ">
                  <mfDefaultSorter by="college"><span class="innerHeadStyle">COLLEGE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="programs"><span class="innerHeadStyle">PROGRAMS</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="courses"><span class="innerHeadStyle">PHONE</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">E-Mail</span></mfDefaultSorter>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <mfDefaultSorter by="members"><span class="innerHeadStyle">EDIT</span></mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="setLoopFontStyle" *ngIf="roleData.data.length>0; else messageData">
              <tr *ngFor="let item of roleData.data; let idx = index" class="setBorderBottom">
                <td class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 check-item1">
                    <input type="checkbox" id="mainSelect" name="University select" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <label for="mainSelect"></label>
                  </div> -->
                </td>
                <td class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 text-left setCollegeStyle">{{item.college}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.programs}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.courses}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setColorBlue">{{item.members}}</td>
                <td class=" col-xs-6 col-sm-6 col-md-2 col-lg-2 setCollegeStyle">
                  <i class="fa fa-wrench"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="roleData.data.length>0">
              <tr>
                <th colspan="6">
                  <div class="row setCollegeStyle">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                      <div class="col-lg-offset-6 col-xs-6 col-sm-6 col-md-4 col-lg-2 text-right">
                        <span class="recordPerPage">Rows per page</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <select class="form-control setCollegeStyle" name="recordsPerPage" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                        </select>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 setCollegeStyle">
                        <span>{{ (roleData.activePage - 1) * roleData.rowsOnPage  + 1 }} - {{roleData.data.length+roleData.rowsOnPage*(roleData.activePage-1)}} of {{data_length}}</span>
                      </div>
                    </div>
                  </div>
              </tr>
            </tfoot>
            <ng-template #messageData>
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">
                    No details Found
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>
