/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'MyWebFont';
  src: url('./assets/fonts/NunitoSans-Regular.ttf');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/NunitoSans-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/NunitoSans-Regular.ttf') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/NunitoSans-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
  url('./assets/fonts/NunitoSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/NunitoSans-Regular.ttf') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'MyWebFont1';
  src: url('./assets/fonts/NunitoSans-Bold.ttf');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/NunitoSans-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/NunitoSans-Bold.ttf') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/NunitoSans-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
  url('./assets/fonts/NunitoSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/NunitoSans-Bold.ttf') format('svg');
  /* Legacy iOS */
}

body {
  overflow-x: hidden;
  font-family: 'MyWebFont', Fallback, sans-serif;
}

.setBackgroundGrey {
  background-color: #F1F5F8;
  width: 100%;
  height: 100vh;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
  margin-left: 6%;
}

.sidebar[data-color="white"] .nav li.active a,
.off-canvas-sidebar[data-color="white"] .nav li.active a {
  background-color: #fff;
  color: #ccc !important;
  box-shadow: -1px 1px 8px 1px #ccc;
}

.mat-tab-list {
  background-color: #fff !important;
}

.nav>li {
  margin-left: 5%;
  margin-right: 5%;
}

.setIconHeadStyle {
  margin-top: 43px;
  color: #C5CCD5;
  margin-left: 16%;
}

input[type=tel] {
  height: 50px;
  width: 133%;
}
