<div id="main-container" style="width: 100%;">
  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
                <img class="brand-img" src="../../../assets/images/brand.png">
            </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search">
          <div class="form-group">
            <input type="text" class="form-control search" placeholder="Search for posts, members, courses...">
          </div>
          <button type="submit" class="btn btn-default btn-search">All <i class="glyphicon glyphicon-chevron-down"></i></button>
        </form>
        <ul class="nav hidden-md hidden-sm navbar-nav navbar-right">
          <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/plus.png"></a></li>
          <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/mail.png"></a></li>
          <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/notif.png"></a></li>
          <li class="navbar-button"><a href="#"><img class="navbar-icon" src="../../../assets/images/menu.png"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="navbar-profile-img img-circle" src="../../../assets/images/profile.jpg"></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container content-container">
    <div class="row">
      <!-- left panel -->
      <div class="col-md-3">
        <div class="container-fluid hidden-sm hidden-xs">
          <h6 class="leftpanel-heading">Homepage</h6>
          <button class="btn btn-block btn-leftpanel active"><i class="img-circle glyphicon glyphicon-home"></i> Newsfeed</button>
          <h6 class="leftpanel-heading">College</h6>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/profile.jpg"> Manipal University</button>
          <h6 class="leftpanel-heading">Jobs on progress</h6>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/2.jpeg"> Video Editor</button>
          <h6 class="leftpanel-heading">Subjects</h6>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/3.jpeg"> Business Management</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/4.jpeg"> Marketing Management</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/2.jpeg"> Investment Banking</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/6.jpeg"> Accountancy</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/7.jpeg"> Human Resource</button>
          <h6 class="leftpanel-heading">Online subjects</h6>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/8.jpeg"> Entrepreneurship Basics</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/profile.jpg"> Leadership Body Language</button>
          <button class="btn btn-block btn-leftpanel"><img class="img-circle" src="../../../assets/images/6.jpeg"> Human Resource</button>
        </div>
      </div>
      <!-- center newsfeed -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="card hovercard">
              <div class="cardheader">
              </div>
              <div class="avatar">
                <div class="col-lg-4">
                  <div class="btn-group">
                    <button type="button" class="btn btnCustomize">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <span>Ask a question</span>
                    </button>
                    <button type="button" class="btn btnCustomize borderLeft">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                  <img alt="" src="../../../assets/images/manipal-logo.png" class="">
                </div>
                <div class="col-lg-4 setTop">
                </div>
              </div>
              <div class="info">
                <div class="title text-center">
                  <a>Investment Banking</a>
                </div>
                <div class="desc ">Bachelor of Business Administration</div>
                <div class="desc">Manipal University</div>
                <div class="desc marginTop">Members 198</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 searchMain">
            <md-tab-group>
              <md-tab label="Chapters">
                <div class="col-md-5">
                  <div class="panel panel-default panel-rightpanel">
                    <div class="panel-heading">Chapters</div>
                    <div class="panel-body">
                      <ul class="trending-list list-group">
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">Economic</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">Children</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">silhouste</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">style</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">paysage</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">yosemites</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">macromondays</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                        <li class="trend list-group-item">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="librarySideHead">detuceland</span>
                              <br>
                              <span class="postCount">1,008,507 posts</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <button class="btn btn-block btn-more">
                        <h6 class="text-primary">Add new section</h6>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 removePad">
                  <div class="panel">
                    <div class="panel-heading">
                      <h3 class="panel-title"><img class="img-circle feed-header-img" src="../../../assets/images/feed.png"/>
                      Global News
                    </h3>
                    </div>
                    <!--End panel heading-->
                    <div class="panel-body newsfeed">
                      <a href='" + item.link + "'><img class='img-responsive' src='../../../assets/images/rss.jpg'><button class='btn btn-block'>VIEW STORY</button></a>
                      <div class='panel-desc'> Little things do make a difference </div>
                    </div>
                    <!--End panel body-->
                    <div class="panel-footer">
                      <i class="glyphicon glyphicon-heart heart"></i> <span class="text-muted">899</span> <i class="glyphicon glyphicon-comment comment"></i> <span class="text-muted">15k</span> <i class="glyphicon glyphicon-tags comment"></i>
                      <hr>
                      <span class="text-muted pointer">view all 15k comments</span>
                      <br>
                      <input class="form-control" type="text" placeholder="COMMENT HERE">
                    </div>
                    <!--End panel footer-->
                  </div>
                </div>
              </md-tab>
              <md-tab label="Assignments">
                <div class="row ">
                  <div class="col-md-12 ">
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1 setMarginTop">
                        <img src="../../../assets/images/homework.png" alt="" class="img imageStyle">
                      </div>
                      <div class="col-md-8 col-lg-9">
                        <span class="assignmentsText">Getting free publicity for your business</span>
                        <br>
                        <span class="assignmentSecondText">Business Mathematcis & Stats</span>
                        <br>
                        <span class="assignmentSecondText">due: 4.00pm 12/1/16</span>
                      </div>
                      <div class="col-md-2 col-lg-1">
                        <div class="round">
                          <input type="checkbox" id="checkbox" />
                          <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Reports">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                    <div class="row backGrngWhite setMarginTop paddTopBtm">
                      <div class="col-md-2 col-lg-1">
                        <img src="../../../assets/images/exam.png" class="img imageStyle" alt="">
                      </div>
                      <div class="col-md-8 col-lg-8 setPadLeft">
                        <span class="reportsText">Class Text 15</span>
                        <br>
                        <span class="reportsSecond">Business Mathematics & Stats</span>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <div class="scoreTable">43 / <span class="outOf">50</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>
              <!-- <md-tab label="Files">
              </md-tab> -->
            </md-tab-group>
          </div>
        </div>
        <!-- right panel -->
      </div>
    </div>
  </div>
</div>
