<div class="containerImage">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
      <img src="../../../assets/images/University_logo.svg" alt="logo" class="logo">
      <span class="logoName">university.social</span>
      </a>
      </div>
      <ul class="nav navbar-nav ">
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>
  </nav>
  <div class="row setInputHeight ">
  <div class="col-md-7 hidden-sm hidden-xs setButtonPos">
    <button class="btn btn-lg btnCustom"> How it works ?</button>
  </div>
    <div class="col-md-offset-0 col-xs-12 col-sm-12 col-lg-3 col-md-4 setBackgroundDivColor">
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
          <span class="signInHead">Sign in</span>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><img src="../../../assets/images/Alliance_University_logo.png" alt=""></span>
            <input type="text" class="form-control" placeholder="Select your college" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
          <ngx-intl-tel-input [(value)]="phone_number"></ngx-intl-tel-input>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-md-offset-0 col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="container">
            <div class="round">
              <input type="checkbox" id="checkbox" />
              <label for="checkbox"></label>
              <span class="remeberMe">Remember me </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <button class="btn btn-lg btnCustomizeColor btn-block" [routerLink]="['/newsFeed']">Sign In</button>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-6 hrLineOR">
          <span>
           or
        </span>
        </div>
      </div>
      <div class="row setInputHeight">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
          <button class="btn-block btn btn-lg btnCustomizeColor" [routerLink]="['/register']">Register your College</button>
        </div>
      </div>
      <div class="row setInputHeight borderTop">
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
          <img src="../../../assets/images/google_play.png" alt="" class="googleStore">
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
          <img src="../../../assets/images/apple_store.png" alt="" class="appleStore">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1  col-md-3 col-lg-3 text-left footerMsg">
    <p>University.social is a networking</p>
    <p> platform build to connect all </p>
    <p>colleges and institutions.</p>
    <span>CHANGE LANGUAGE</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 col-lg-3 setStaticPageColor">
    <ul>
      <li>ABOUT</li>
      <li>CAREERS</li>
      <li>EVENTS</li>
      <li>NEWS</li>
    </ul>
  </div>
<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 col-lg-3 setStaticPageColor">
    <ul>
      <li>TUTORS</li>
      <li>AFFILIATES</li>
      <li>PRIVACY</li>
      <li>TERMS OF SERVICE</li>
    </ul>
  </div>

</div>
