<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <div class="col-lg-2">
            
            <div class="btn-group">
              <button type="button" class="btn btnCustomize">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>Ask a question</span>
              </button>
              <button type="button" class="btn btnCustomize borderLeft">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <img alt="" src="../../../assets/images/manipal-logo.png" class="">
          </div>
          <div class="col-lg-4 setTop">
            <button class="btn btn-lg btnCustomize"><i class="fa fa-share" aria-hidden="true"></i> Share
            </button>
            <button class="btn btn-lg btnCustomize"><i class="fa fa-check" aria-hidden="true"></i> Following
            </button>
          </div>
        </div>
        <div class="info">
          <div class="title text-center">
            <a>Manipal University</a>
          </div>
          <div class="desc">Manipal, Karnataka India</div>
          <div class="desc">Follwers 11.4k Members 38.4k</div>
          <!-- <div class="desc">3rd line</div> -->
        </div>
        <div class="bottom">
        </div>
      </div>
    </div>
  </div>
</div>
